<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{article.name}} | MAO</title>
    <link rel="shortcut icon" href="../img/fav_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
	<section class="hero is-black is-small">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="../">
                            <img src="../img/mao_logo.png" alt="Logo">
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
							<a class="navbar-item" href="/home">
								<div style="position:relative">
                                    <span class="icon">
                                        <i class="fa fa-home"></i>
                                    </span>
                                    <span>Strona główna</span>
								</div>
							</a>
							<a class="navbar-item" href="/news">
								<div style="position:relative">
                                    <span class="icon">
                                        <i class="fa fa-newspaper-o"></i>
                                    </span>
                                    <span>Aktualności</span>
								</div>
							</a>
							<a class="navbar-item" href="/statistics">
								<div style="position:relative">
                                    <span class="icon">
                                        <i class="fa fa-flag-o"></i>
                                    </span>
                                    <span>Statystyki</span>
								</div>
							</a>
                            <span class="navbar-item" href="/login">
                                <a class="button is-white is-outlined" href="/login">
                                    <span class="icon">
                                        <i class="fa fa-sign-in"></i>
                                    </span>
                                    <span>Zaloguj się</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
		</div>
		<div class="hero-body">
			<div class="container has-text-centered">
				<h1 class="title is-2">{{article.name}}</h1>
				<h2 class="subtitle is-5 is-light">@{{article.author}} - {{article.date}}</h2>
			</div>
		</div>
	</section>
	<section class="section">
		<section class="container">
			<div class="box">
			  <div class="content">
				  <div class="content article">
					  {{{article.content}}}
				  </div>
			  </div>
			</div>
		</section>
	</section>
	<footer class="footer">
		<div class="container">
			<div class="columns">
				<div class="column is-4 is-offset-3">
					<h2><strong>Informacje</strong></h2>
					<ul>
						<li><a href="/">Strona powitalna</a></li>
						<li><a href="/home">Wprowadzenie</a></li>
						<li><a href="/news">Aktualności</a></li>
						<li><a href="/statistics">Statystyki</a></li>
						<li><a href="https://discord.gg/7chPBVr" target="_blank">Serwer Discord</a></li>
					</ul>
				</div>
				<div class="column is-4">
					<h2><strong>Pomoc</strong></h2>
					<ul>
						<li><a href="/login">Logowanie</a></li>
						<li><a href="/home">Beta testy</a></li>
						<li><a href="/login">Zakładanie konta</a></li>
						<li><a href="/contact">Kontakt z administracją</a></li>
					</ul>
				</div>
			</div>
			<div class="content has-text-centered">
				<p>
					<a href="#">
						<div>
							<span>Mine Art Online</span>
							<span>2020</span>
						</div>
					</a>
				</p>
			</div>
		</div>
	</footer>
</body>
