<div class="container">
	<div class="columns">
		<div class="column is-4 is-offset-3">
			<h2><strong>Informacje</strong></h2>
			<ul>
				<li><a href="/">Strona powitalna</a></li>
				<li><a href="/home">Wprowadzenie</a></li>
				<li><a href="/news">Aktualności</a></li>
				<li><a href="/statistics">Statystyki</a></li>
				<li><a href="#" target="_blank">Serwer Discord</a></li>
			</ul>
		</div>
		<div class="column is-4">
			<h2><strong>Pomoc</strong></h2>
			<ul>
				<li><a href="#">Logowanie</a></li>
				<li><a href="#">Beta testy</a></li>
				<li><a href="#">Zakładanie konta</a></li>
				<li><a href="#">Kontakt z administracją</a></li>
			</ul>
		</div>
	</div>
	<div class="content has-text-centered">
		<p>
			<a href="#">
				<div>
					<span>Mine Art Online</span>
					<span>2020</span>
				</div>
			</a>
		</p>
	</div>
</div>
