@charset "utf-8"

@import "~bulma/sass/utilities/initial-variables.sass";

$background: $black
$scheme-main: $black
$scheme-main-bis: $black-bis
$scheme-main-ter: $black-ter

$text: $white
$text-strong: $white-ter
$scheme-invert: $white
$scheme-invert-bis: $white-bis
$scheme-invert-ter: $white-ter

// Custom colours
$intensive-orange: #ff8c00;

$box-background-color: $black-ter;
$input-background-color: $white;
$input-disabled-background-color: $grey;
$input-color: black;
$input-icon-active-color: $intensive-orange;
$input-hover-border-color: $intensive-orange;
//$box-background-color: #200900;
$box-shadow: 0;

$link: $yellow;
$link-visited: $link;
$link-hover: $intensive-orange;

$table-background-color: $black-bis;

@import "main.scss"
