@charset "utf-8";

$navbar-burger-color: #fff;
$primary: $grey-darker;
$scheme-invert-ter: $grey;
$footer-padding: 3rem;

//@import "../node_modules/bulma/bulma";
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/layout/_all.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/elements/box.sass";
@import "~bulma/sass/elements/table.sass";
@import "~bulma/sass/elements/icon.sass";
@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/components/level.sass";
@import "~bulma/sass/form/shared.sass";
@import "~bulma/sass/form/input-textarea.sass";
@import "~bulma/sass/form/tools.sass";
@import "~bulma/sass/grid/_all.sass";

//CUTOFF
@import "~buefy/src/scss/utils/_all.scss";
@import "~buefy/src/scss/components/_table.scss";

//Extensions
//$divider-font-size: $size-4;
@import "~@creativebulma/bulma-divider/src/sass/index.sass";

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.section {
	flex: 1;
}

footer li:before {
  content: '\f0c1';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color: $link;
}

.sandbox {
	padding: 5rem 0;
}

.intro {
  padding: 5rem 2rem;
  text-align: center;
}

.card {
  margin-bottom: 2rem;
}

.card-content .content {
  margin: 1rem 1rem;
}

.card-content .content h4 {
  font-size: $size-5;
  font-weight: bold;
}

.card-image > .fa {
  font-size: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: $link;
}

.features {
	padding: 2rem 0 0;
}

.hero-body .divider {
  font-size: $size-4;
  font-weight: bolder;
}

.news-post {
	position: relative;
}

.news-post::before {
	width: 100%;
	height: 100%;
	background: linear-gradient(transparent, $box-background-color);
	position: absolute;
	left: 0;
	top: 0;
	content: '';
	pointer-events: none;
}

.has-elements-justified {
	justify-content: center;
}

.article > ul, li {
	list-style-position: inside;
}

.article > ul {
	list-style-type: disc;
}
